<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.sesma.dagger" >

    <application>
        <activity android:name="eu.sesma.dagger.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
